#titulo{
    color: brown;
    font-size: 100px;
    font-family: 'Whisper', cursive;
}
.texto{
        color: blue;
        background-color: blueviolet;
        font-size: 200%;
        font-family: 'Whisper', cursive;
}
#botao{
        color: green;
        border-color: chocolate;
        font-size:5rem;

}
* {background: aqua;}
<ruby linguagem de navegação para claa= . para id=#> 